/**
 * Block: <%= moduleName %>
 * Element: <%= moduleName %>__element
 * Modifier: <%= moduleName %>--modifier
 */

.<%= moduleName %> {

    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
