/**
 * Block: backdrop
 * Element: backdrop__element
 * Modifier: backdrop--modifier
 */

.backdrop {
    padding-top: 65px;
    background-color: color(offwhite);
    padding-bottom: 75px;
    padding-left: $page-container-padding;
    padding-right: $page-container-padding;

    .section-title {
        margin-top: 0;
        margin-bottom: 50px;
    }
    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
