/**
 * Block: bio
 * Element: bio__element
 * Modifier: bio--modifier
 */

.bio {
    display: flex;
    flex-direction: row;

    &__img {
        flex-shrink: 0;
    }
    
    &__content-title {
        @include playfair-bold;
        margin-top: 0;
        margin-bottom: 5px;
    }

    &__content {
        padding-left: 30px;
    }
    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
