/**
 * Block: calendly-embed
 * Element: calendly-embed__element
 * Modifier: calendly-embed--modifier
 */

.calendly {

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: #666A73;
    }

    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
