.consultation-cta {
    @include line-height(48, 61);
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: rem(48);

    &__title {
        margin-top: 0;
        margin-bottom: 25px;
    }
}
