/**
 * Block: copyright
 * Element: copyright__element
 * Modifier: copyright--modifier
 */

.copyright {
    margin-top: 25px;
    font-size: rem(12);
    color: darken(white, 50%);
    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
