/**
 * Block: custom-numbered-list
 * Element: custom-numbered-list__element
 * Modifier: custom-numbered-list--modifier
 */

$list-icon-size: 35px;
$list-icon-margin: 15px;
$list-icon-spacing: $list-icon-size + $list-icon-margin;

.custom-numbered-list {
    padding-left: 0;
    counter-reset: my-badass-counter;
    list-style: none;

    li + li {
        margin-top: 20px;
    }

    li {
        position: relative;
        width: calc(100% - #{$list-icon-spacing});
        margin-left: $list-icon-spacing;
    }

    li:before {
        @include playfair-bold-italic;
        content: counter(my-badass-counter);
        counter-increment: my-badass-counter;
        position: absolute;
        left: -$list-icon-spacing;
        display: inline-block;
        width: $list-icon-size;
        height: $list-icon-size;
        background-color: color(blues, turquoise);
        color: color(white);
        text-align: center;
        border-radius: 50%;
        line-height: 1.1;
        font-size: rem(23);
        vertical-align: middle;
        margin-right: $list-icon-margin;
    }

    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
