/**
 * Block: gallery
 * Element: gallery__element
 * Modifier: gallery--modifier
 */

$block: 'collage';

.#{$block} {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__image-wrap {
        margin-bottom: 10px;
    }

    @include respond-to('up to small') {
        &__row--small-images {
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .#{$block}__image-wrap {
                width: 50%;
            }
        }
    }

    @include respond-to('small and up') {
        &__row {
            flex-direction: row;
        }

        &__image-half,
        &__image-fourth {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }



}
