.hero {
  position: relative;

  &--overlay:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(color(black), .6);
  }

  &__image-wrap, 
  .responsive-embed {
    display: none;
  }

  &__content {
    @include vertically-centered(absolute);
    left: 0;
    right: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    -webkit-backface-visibility: hidden;
  }

  &__title {
    $color:color(black);

    max-width: 75%;
    padding-top: 8%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: $color;
    font-size: rem(38);
    text-align: center;
    z-index: $z-1;

      &:after {
          content: "";
          display: block;
          width: 80%;
          max-width: 100px;
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto;
          height: 5px;
          background-color: $color;
      }
  }

  @include respond-to('small and up') {

    &__image-wrap {
      @include intrinsic-ratio('.hero__image' , 1200, 400);
    }

    &__title {
      $color: color(white);

      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      margin-top: 0;
      font-size: rem(54);
      color: $color;

      &:after {
          background-color: $color;
      }
    }
    
    &__image-wrap, 
    .responsive-embed {
      display: block;
    }
  }
}
