$block: 'menu';

.#{$block} {
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    &-item {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    &-item a {
        @include europa;
        position: relative;
        display: inline-block;
        color: black;
        font-size: rem(18);
        text-decoration: none;
    }
}

.current-menu-item a {
    color: color(coral);
}

// .menu-primary-menu-container {
//     height: 100%;
// }

// .menu {
//     // position: relative;
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
//     padding-top: 25px;
//     height: 100%;

//     &-item {
//         position: relative;
//         margin-left: 15px;
//         margin-right: 15px;
//         width: 100%;
//         text-align: center;

//         & + & {
//             margin-top: 15px;
//         }
//     }

//     &-item a {
//         @include europa;
//         position: relative;
//         display: inline-block;
//         color: black;
//         font-size: rem(18);
//         text-decoration: none;
//     }

//     &-item:hover {
//         .sub-menu {
//             left: 0;
//         }
//     }

//     @include respond-to('small and up') {

//         &-primary-menu-container {
//             position: absolute;
//             left: 0;
//             right: 0;
//         }

//         & {
//             flex-direction: row;
//             justify-content: center;
//             padding-top: 0;
//         }

//         &-item + &-item {
//             margin-top: 0;
//         }

//         &-item {
//             width: auto;
//         }

//         &-item a {
//             position: relative;
//             color: color(black);
//         }


//     }
// }


.sub-menu {
    width: 100%;
    padding-top: 5px;

    .menu-item {
        margin-left: 0;
        margin-right: 0;
    }

    .menu-item + .menu-item {
        margin-top: 15px;
    }

    .menu-item a {
        font-size: rem(18);
    }

    @include respond-to('small and up') {
        position: absolute;
        width: 215px;
        padding-bottom: 10px;
        background-color: color(white);
        transform: translateX(-25%);
        left: -9999px;

    }

}



// @include respond-to('small and up') {

//     .menu-item-has-children > a {
//         display: flex;
//         align-items: center;

//         &:after {
//             content: "";
//             position: relative;
//             display: inline-block;
//             width: 0;
//             height: 0;
//             border-left: 8px solid transparent;
//             border-right: 8px solid transparent;
//             border-top: 8px solid color(black);
//             margin-top: 7px;
//             margin-left: 10px;
//             transition: transform .150s ease-out;
//             transform-origin: center;
//         }

//         &:hover {
//             &:after {
//                 transform: rotate(180deg);
//                 margin-top: 4px;
//             }
//         }
//     }
// }
