$nav-height: 50px;

.nav {
    position: relative;
    height: $nav-height;
    z-index: $z-1;
    color: black;

    &-header {
        position: relative;
        display: flex;
        align-items: center;
        height: $nav-height;
        border-bottom: 1px solid black;
        z-index: $z-1;
        background-color: color(white);
    }

    &.is-open {
        .nav-wrap {
            transform: translateY(0);
        }
    }

    &-logo {
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        transform: translateY(-125%);
        height: calc(100vh - #{$nav-height});
        transition: transform .250s ease-out;
    }

    &-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 0;
        width: 60px;
        height: $nav-height;
        cursor: pointer;
        border-right: 1px solid black;
    }

    &-menu__bar {
        display: block;
        height: 2px;
        width: 30px;
        background: black;

        & + & {
            margin-top: 5px;
        }
    }

    &-wrap {
        background-color: color(white);
    }

    @include respond-to('small and up') {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        color: black;
        padding-left: $page-container-padding;
        padding-right: $page-container-padding;

        &.has-bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            color: white;

            .menu-item a {
                color: color(white);
            }

            .menu-item-has-children > a:after {
                border-top: 8px solid color(white);
            }

        }



        &-header {
            display: none;
        }

        &-wrap {
            width: auto;
            height: auto;
            transform: translateY(0);
            background-color: transparent;
        }
    }
}
