.nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: color(black);
  z-index: $z-9;

  &__wrap {
    @include page-container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}