/**
 * Block: post-categories
 * Element: post-categories__element
 * Modifier: post-categories--modifier
 */

.post-categories {
    &__list,
    &__item {
        display: inline-block;
    }

    &__list {
        margin-left: 5px;
    }

    &__item {
        &:after {
            content: ", ";
        }

        &:last-child:after {
            display: none;
        }
    }



    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
