/**
 * Block: single-project
 * Element: single-project__element
 * Modifier: single-project--modifier
 */

.project-title {
    @include europa-bold;
    margin-bottom: 0;
    text-align: center;
}

.project-date {
    text-align: center;
}

.single-project {

    &__header {
        padding-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
