/**
 * Block: single-testimonial
 * Element: single-testimonial__element
 * Modifier: single-testimonial--modifier
 */

.single-testimonial {

    &__slide {
        @include freight;
        position: relative;
        background-color: color(robin);
        color: color(white);
        font-size: rem(18);
        text-align: center;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__content {
        @include centered(absolute);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    &__client {
        @include omnes;
        display: inline-block;
        margin-top: 30px;
        font-size: rem(18);
    }

    @include respond-to('small and up') {
        &__slide {
            font-size: rem(28);
        }

        &__content {
            width: 100%;
            max-width: 75%;
        }

        &__client {
            @include omnes;
            margin-top: 50px;
        }
    }

    @include respond-to('medium and up') {

        &__slide {
            min-height: 400px;
            font-size: rem(34);
        }

        &__client {
            font-size: rem(20);
        }
    }

    @include respond-to('large and up') {
        &__content {
            max-width: 900px;
        }
    }

}
