/**
 * Block: social-links
 * Element: social-links__element
 * Modifier: social-links--modifier
 */

.social-links {

    &__item {
        display: flex;
        align-items: center;
        text-decoration: none;

        & + & {
            margin-top: 10px;
        }
    }

    &__text {
        font-size: rem(14);
        margin-left: 10px;
    }



    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
