.grid {
  display: flex;
  flex-direction: column;

  &-3-up {
    .col {
      width: percentage(1/3);
      border: 1px solid black;
    }
  }

  @include respond-to('medium and up') {
    flex-direction: row;
  }
}