.grid {
    display: flex;
    flex-direction: column;


    @include respond-to('small and up') {
        &-3-up {
            flex-wrap: wrap;

            .col {
                width: percentage(1/3);
                border: 1px solid black;

                &--no-border {
                    border: 0;
                }
            }
        }
    }

    @include respond-to('small and up') {
        flex-direction: row;
    }
}
