/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * LAYOUT
 *
 * Major layout container components (i.e. header, main content containers,
 * footer, sidebar/aside)
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */

/**
 * Apply to the element that will be the outmost container of site content to
 * contain the width to $page-container-width
 */
.page-container {
    @if $is-responsive {
        max-width: $page-container-width;
    } @else {
        width: $page-container-width;
    }

    margin: 0 auto;
    padding-right: $page-container-padding;
    padding-left: $page-container-padding;
    background: $page-container-bg-color;
}

.content-wrap {
  @include clearfix;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  @include clearfix;
}

.page-section {
    margin-top: 150px;
    margin-bottom: 150px;
}


@include respond-to('small and up') {

  .page-content {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

  }

  .has-aside,
  .aside,
  .two-third,
  .one-third {
    @include clearfix;
    box-sizing: border-box;
    float: left;
  }

  .aside {
    width: 300px;
  }




}

@include respond-to('medium and up') {
  .two-third {
    width: percentage(2/3);

  }

  .one-third {
    width: percentage(1/3);
  }

  .main-content {
    padding-right: 45px;
  }

  .content-aside {
    padding-left: 35px;
  }

  .has-left-border {
    border-left: 1px solid color(black);
  }

}
