/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * COLORS
 *
 * Define any global color variables below. Ideally color variables should be
 * referenced by the theme variables that follow.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */

$colors: (
  black: #181818,
  gray: #aaaaaa,
  white: #fff,
  offwhite: #FBFBFB,
  warning: #e7040f,
  coral: #FF7676,
  aqua: #A3DBCE,
  robin: #3EB5C6,
  peach: #FFC6B4,
  marina: #2874C7,
  blues: (
      dark: darken(#0000ff, 20%),
      turquoise: #40e0d0
  )
);
