/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * COLORS
 *
 * Define any global color variables below. Ideally color variables should be
 * referenced by the theme variables that follow.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */

$colors: (
    fire-red: #ff0000,
    blues: (
        dark: darken(#0000ff, 20%)
    )
);


/*-------------------------------------------- */
/** Theme Variables */
/*-------------------------------------------- */

$brand-primary: color(fire-red);
$brand-secondary: color(blues, dark);
