/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * FONT FACE
 *
 * Define any @font-face declarations below.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */


$serif: 'Playfair Display', serif;
$sans-serif: 'Source Sans Pro', sans-serif;
$omnes: 'omnes-pro', sans-serif;

@mixin playfair() {
  font-family: $serif;
  font-weight: 400;
}


@mixin playfair-bold() {
  font-family: $serif;
  font-weight: 700;
}

@mixin playfair-bold-italic() {
  font-family: $serif;
  font-weight: 700;
  font-style: italic;
}

@mixin source-sans() {
  font-family: $sans-serif;
  font-weight: 400;
}

@mixin omnes() {
    font-family: $omnes;
    font-weight: 400;
};

@mixin omnes-med() {
    font-family: $omnes;
    font-weight: 500;
};

@mixin omnes-semi() {
    font-family: $omnes;
    font-weight: 600;
};

@mixin omnes-bold() {
    font-family: $omnes;
    font-weight: 700;
};

@mixin omnes-black() {
    font-family: $omnes;
    font-weight: 900;
};
