/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * FONT FACE
 * 
 * Define any @font-face declarations below. 
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */


$serif: 'Playfair Display', serif;
$sans-serif: 'Source Sans Pro', sans-serif;

@mixin playfair() {
  font-family: $serif;
  font-weight: 400;
}


@mixin playfair-bold() {
  font-family: $serif;
  font-weight: 700;
}

@mixin playfair-bold-italic() {
  font-family: $serif;
  font-weight: 700;
  font-style: italic;
}

@mixin source-sans() {
  font-family: $sans-serif;
  font-weight: 400;
}
