/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * HELPERS
 *
 * Define any custom site-wide helper classes below. Utility classes such as
 * .centered or .hidden are good candidates to live in this file.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */


/**
 * Responsive Visibility
 */

[class*="show-at"] {
    display: none;
}

// Creates all "hide/show-at-*" sizes based on our
// breakpoints map.
@each $bp-size, $bp-value in $breakpoints-map {
    @media (min-width: #{$bp-value}) {
        .hide-at-#{$bp-size} {
            display: none;
        }

        .show-at-#{$bp-size} {
            display: block;
        }
    }
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}
