/**
 * Block: badge-section
 * Element: badge-section__element
 * Modifier: badge-section--modifier
 */

.badge-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

    @include respond-to('small and up') {

        & {
            margin-top: 100px;
            margin-bottom: 100px;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__item {
        margin-left: 25px;
        margin-right: 25px;
    }

    @include respond-to('up to small') {
        &__item {

            & + & {
                margin-top: 25px;
            }

        }
    }

    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
