/**
 * Block: image-cluster
 * Element: image-cluster__element
 * Modifier: image-cluster--modifier
 */

$horz-spacing: 2.5%;
$vert-spacing: 5%;

.image-cluster {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: -$horz-spacing;
    margin-right: -$horz-spacing;

    @include respond-to('up to small') {
        &__item {
            display: block;
            width: auto;
            margin-left: auto;
            margin-right: auto;

            & + & {
                margin-top: $vert-spacing;
                width: auto;
            }
        }
    }

    @include respond-to('small and up') {

        & {
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 50px;
        }

        &__item {
            width: 50%;
            padding-bottom: $vert-spacing;
            padding-left: $horz-spacing;
            padding-right: $horz-spacing;
            box-sizing: border-box;
        }
    }



    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Block Media Queries */
    /*-------------------------------------------- */


}
