$content-spacing: 20px;

@include respond-to('up to small') {
  .alignleft,
  .alignright {
    display: block;
    margin-top: $content-spacing;
    margin-bottom: $content-spacing;
    margin-left: auto;
    margin-right: auto;
  }
}

@include respond-to('small and up') {
  .alignleft {
    float: left;
    margin-right: $content-spacing;
  }

  .alignright {
    float: right;
    margin-left: $content-spacing;
  }
}